<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
</head>
<body>
    <h1>Upload your file here</h1>
    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="text" name="product" placeholder="Enter the Product name" required/>
        <input type="file" accept="image/*" name="img1" required />
        <button type="submit">Upload</button>
    </form>
</body>
</html>